@charset "utf-8";

html, body {height: 100%;}

html {overflow-y: scroll;}

/* this makes sure that the padding and border are included in the total width and height of the elements */
* {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	margin: 0;
}

.row:after {
	content: " ";
	clear: both;
	display: block;
}

.clearfix {
	content: " ";
	clear: both;
	display: block;
}

/* For mobile phones: */
[class* = "col-"] {
    width: 100%;
}

body {
    width: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 100%;
    color: #111;
    margin: 0;
}

#wrapper {
    background-color: #fff;
    max-width: 1000px;
    margin: auto;
 }

body > header {
	position: fixed;
    height: auto;
    background-color: #fff;
    color: #0d0d0d;
    width: 100%;
    padding: 0.625em 0 0 0;
    border-bottom: 0.09em solid #dcdcdc;
    box-shadow: 1px 1px 3px rgba(153,153,153,0.6);
}

.logo {
    font-family: "Arvo", serif;
    font-size: 1.125em;
    font-weight: 600;
    margin: 0 0 0.625em 0;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: 500;
}

.warning_msg {
  color: #c23131;
}

@media (min-width: 350px) and (max-width: 480px) {
	.logo {
		font-size: 1.5em;
	}
}

@media (min-width: 481px) {
	.logo {
		font-size: 2em;
	}
}

.desktop_nav {
	display: none;
}

#hamburger {
	position: fixed;
	display: block;
	margin: 0.5em 0 0.5em 1em;
	color: #111;
	font-size: 1em;
}

@media (max-width: 350px) {
	#hamburger {
		margin: 0 0 0 1em;
	}
}

#mobile_nav {
	text-transform: uppercase;
}

#mobile_nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mobile_nav li {
	font-size: 1em;
	color: #111;
	vertical-align: center;
	padding: 0.875em;
}

#mobile_nav a {
	text-decoration: none;
	color: #111;
}

#mobile_nav a:hover {
	color: #005689;
}

#wrapper > header {
	 padding: 0.625em;
}

h1 {
    line-height: 1.5em;
    font-size: 1.5em; /* 24px */
    margin: 3em 0 0.5em 0;
    color: #262626;
    font-weight: 500;
}

@media (min-width: 540px) and (max-width: 669px) {
	h1 {
		font-size: 2em; /* 32px */
	}
}

@media (min-width: 670px) {
	h1 {
		font-size: 2.7em;
		margin: 2em 0 0.5em 0;
	}
}

@media (min-width: 850px) {
	h1 {
		font-size: 3em;
		margin: 2em 0 0.5em 0;
	}
}

.author {
    margin: 0;
    font-size: 1em;
}

.date {
    margin: 1em 0 1.5em 0;
    font-size: 0.875em;
}

.date > span {
	font-size: 1em;
}

.date > span > a {
	text-decoration: none;
	color: #e60000;
}

@media (min-width: 400px) {

	#author {
	    margin: 1em 0;
	    font-size: 1em;
	}

	.date {
	    margin: 1em 0 1.5em 0;
	    font-size: 1em;
	}

	.date > span {
		color: #e60000;
		font-size: 1em;
	}
}

figure {
	margin: 0;
}

figcaption {
    font-size: 0.75em;
    line-height: 2em;
    color: #6e6e6e;
    margin: 0 0 1.2em 0;
    padding-top: 0.875em;
    line-height: 1.333em;
}

.main {
	padding: 0 0.625em;
}

.main > ul {
	padding: 0;
	margin: 0;
	text-align: center;
}

.left-facebook-mobile {
	text-align: center;
	width: 49%;
	float: left;
	display: block;
	font-weight: 500;
	font-family: Helvetica;
}

.left-facebook {
	display: none;
}

.right-twitter-mobile {
	text-align: center;
	width: 49%;
	float: right;
	display: block;
	font-weight: 500;
	font-family: Helvetica;
}

.right-twitter {
	display: none;
}

@media only screen and (min-width: 461px) {

	.left-facebook-mobile {
		display: none;
	}

	.left-facebook {
		text-align: center;
		width: 49%;
		float: left;
		display: block;
		font-weight: 500;
		font-family: Helvetica;
	}

	.right-twitter-mobile {
		display: none;
	}

	.right-twitter {
		text-align: center;
		width: 49%;
		float: right;
		display: block;
		font-weight: 500;
		font-family: Helvetica;
	}
}

.button1 {
	display: block;
	background-color: #3b5998;
	border: none;
	color: white;
	padding: 0.8em 1.8em;
	text-decoration: none;
	border-radius: 0.5em;
	box-shadow: 1px 1px 3px rgba(153,153,153,0.6);
}

.button2 {
	display: block;
	background-color: #4099ff;
	border: none;
	color: white;
	padding: 0.8em 1.8em;
	text-decoration: none;
	border-radius: 0.5em;
	box-shadow: 1px 1px 3px rgba(153,153,153,0.6);
}

.popular_stories {
	padding: 0 0.625em 0.625em 0.625em;
}

.popular_stories > header {
	margin-top: 2em;
}

article {
	padding-bottom: 0.75em;
}

article > p {
   line-height: 1.8em;
   margin: 0 0 1.25em 0;
}

article > p > a {
    text-decoration: none;
    border-bottom: 0.09em solid #dcdcdc;
    color: #005689;
}

.sub_heading {
	font-weight: 500;
	margin: 0 0 1em 0;
}

h3 {
	font-weight: 400;
	margin: 0;
}

h3 > a {
	color: #111;
}

h3 > a:hover {
	color: #005689;
}

.popular_stories {
	font-size: 1em;
}

.popular_stories > article {
	margin: 1em 0;
	border-bottom: 1px solid #d9d9d9;
}

.popular_stories > article:last-child {
	border: none;
}

.picture {
	float: left;
	width: 30%;
}

.popular {
	float: left;
	width: 65%;
	padding-left: 1.125em;
	line-height: 1.4em;
}

.popular a {
	text-decoration: none;
}

@media (max-width: 539px) {
	.popular {
		font-size: 0.875em;
	}
}

.col-4 > header {
	margin: 0.625em; /* 10px */
}

.news_features {
	padding: 0.875em;
	border: 1px solid #d9d9d9;
	box-shadow: 1px 1px 1px rgba(153,153,153,0.4);
	margin: 0 0.875em 0 1em; /* 14px */
}

.number_left {
	float: left;
	width: 10%;
	font-size: 1.125em;
	font-weight: 600;
}

.feature {
	float: left;
	width: 65%;
	line-height: 1.4em;
	font-size: 0.938em; /* 15px */
	margin-right: 0.438em;
}

@media (max-width: 275px) {
	.feature {
		font-size: 0.75em; /* 12px */
	}
}

@media (min-width: 481px) and (max-width: 768px) {
	.feature {
		font-size: 1.25em; /* 20px */
	}
}

@media (min-width: 769px) and (max-width: 871px) {
	.feature {
		font-size: 0.75em; /* 12px */
	}
}

.feature > a {
	color: #111;
	text-decoration: none;
}

.feature > a:hover {
	color: #005689;
}

.thumbnails {
	float: left;
	width: 22%;
}

.big {
	display: inline-block;
}

.small {
	display: none;
}

@media (min-width: 479px) {
	.big {
		display: none;
	}

	.small {
		display: inline-block;
	}
}

.list {
	padding: 0.7em 0;
	border-bottom: 1px solid #d9d9d9;
}

.list:first-child {
	padding-top: 0;
}

.list:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.list > a {
	color: #111;
}

.advert {
	display: none;
}

.newsletter-signup-form {
	margin: 2em 1em;
}

.newsletter-title {
	font-size: 1.125em;
	margin-bottom: 0.625em;
}

.signup-caption {
	color: #666;
	font-size: 0.875em;
	margin-top: 0;
}

input[type=text] {
	width: 65%;
	padding: 0.625em;
	font-size: 0.875em;
}

input[type=password] {
	width: 65%;
	padding: 0.625em;
	font-size: 0.875em;
}


@media (min-width: 769px) and (max-width: 830px) {
	input[type=text] {
		font-size: 0.75em;
	}
}

.newsletter-button {
	width: 30%;
	border-radius: 0.2em;
	border: none;
	background-color: #006bb3;
	color: #fff;
	font-size: 0.875em;
	font-weight: 500;
	padding: 0.725em 1em;
	margin-left: 0.5em;
	cursor: pointer;
	box-shadow: 1px 1px 3px rgba(153,153,153,0.6);
}

@media (min-width: 660px) and (max-width: 768px) {
	.newsletter-title {
		font-size: 1.25em;
	}

	.signup-caption {
		font-size: 1.125em;
	}

	input[type=text] {
		width: 80%;
		padding: 0.625em;
		font-size: 1em;
	}

	.newsletter-button {
		width: 15%;
		font-size: 0.875em;
		padding: 0.85em 2.5em;
	}
}

@media (min-width: 400px) and (max-width: 659px) {
	.newsletter-title {
		font-size: 1em;
	}

	.signup-caption {
		font-size: 0.875em;
	}

	input[type=text] {
		width: 80%;
		padding: 0.625em;
		font-size: 1em;
	}

	.newsletter-button {
		width: 15%;
		font-size: 0.75em;
		padding: 1.1em 0.5em;
	}
}

footer {
    margin: 0;
    border-top: 0.09em solid #dcdcdc;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	padding: 2em 5em;
	margin: 0;
	color: #6e6e6e;
}

#copyright {
	padding-bottom: 0;
}

/* the desktop footer links */
#actions_desktop {
    text-align: center;
}

#actions_desktop > ul {
    padding: 0;
    list-style: none;
    width: 100%;
    box-shadow-top:1px 1px 3px rgba(153,153,153,0.6);
    text-align: center;
    margin-bottom: 0;
}

#actions_desktop > ul > li {
	padding: 1.125em;
	display: inline;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #111;
}

#actions_desktop > ul > li > a {
    text-decoration: none;
    color: #111;
}

#actions_desktop > ul > li > a:hover {
	color: #005689;
}

table {
	display: none;
}

/* the mobile footer links */
@media (max-width: 749px) {
	table {
		width: 95.5%;
		display: table;
		margin: 1em auto;
		border-spacing: 0.5em;
		background-color: #fff;
	}

	td {
		padding: 2em;
		text-align: center;
		font-weight: 500;
		border: 1px solid #a6a6a6;
		text-transform: uppercase;
		font-size: 0.625em;
		letter-spacing: 0.14em;
	}

	td:hover {
		background-color: #f1f1f1;
	}

	td a {
		text-decoration: none;
		color: #111;
	}

	#actions_desktop {
		display: none;
	}
}


/*Desktop and tablet landscape layout: */
@media only screen and (min-width: 769px) {

[class*="col-"] {
	float: left;
	padding:0em 0.938em 0.938em 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.logo {
	font-size: 2em;
}

h1 {
	margin: 2.5em 0 0.5em 0;
}

/* the navigation bar */

#mobile_nav {
	display: none;
}

#hamburger {
	display: none;
}

.desktop_nav {
	display: block;
}

.desktop_nav > ul {
	width: 100%;
	margin: 0 auto;
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	color: #111;
	margin: 0;
	padding: 0;
}

.desktop_nav > ul > li {
	float: left;
	padding: 0;
	margin:0;
	font-size: 0.625em;
	width: 14.28%;
	vertical-align: center;
}

.desktop_nav a {
	width: 100%;
	text-decoration: none;
	color: #111;
    padding: 0.5em;
    margin: 0;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    display: block;
}

.desktop_nav a:hover {
	color: #fff;
	background-color: #006bb3;
}

.leftside {
	border-right: 1px solid #d9d9d9;
}

.advert {
	display: block;
	padding: 1.5em 0 1.5em 1em;
}

#actions > ul {
    padding: 0;
    list-style: none;
    width: 100%;
    box-shadow-top:1px 1px 3px rgba(153,153,153,0.6);
    text-align: center;
}

#actions > ul > li {
	display: inline;
	padding: 1.125em;
	text-transform: uppercase;
	font-size: 0.75em;
	color: #111;
}

}
