@charset "UTF-8";

@import "normalize.min.css";

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Dosis:400,600';

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  color: #2C2B3C;
  font-size: 100%;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-decoration: none;
}

.clearfix{
  clear: both;
  margin: 0;
  visibility: hidden;
  padding: 0;
}

figure {
  padding: 0;
}

td figure {
  width: 100%;
  margin: 0;
}

figure img {
  display: block;
  max-width: 100%;
}

/*Font styling*/

h1, h2, h3, h4 {
  font-family: Dosis, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  font-weight: 600;
}

.main-header h1 {
  font-size: 1.43em;
}

.page-header h2 {
  font-size: 1.25em;
}

.h2 {
  font-size: 2em;
}

.tbl-heading td{
  font-family: Dosis;
  font-size: 1.25em;
}

.tbl-subheading td{
  font-family: Dosis;
  font-size: 1.2em;
}

/*container styling*/

#main-content {
  position: relative;
  padding: 1.25em 2.5em;
}

footer {
  position: absolute;
  bottom: 0;
}

.half-float {
  float: left;
  width: 50%;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.base {
  /*padding: 0.625em 1.25em;*/

  padding: 1.25em 2.5em;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.team-card {
  padding: 0.625em;
  border: 1px #eee solid;
  margin-bottom: 1.25em;
}

.opt-menu {
  padding: 0.625em 1.25em;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: relative;
  color: #fafafa;
  background-color: #a7bbd6;
}

.branding-container {
  position: absolute;
  right: 2.5em;
  top: 50%;
  margin-top: -0.5em;
}

ul.menu li {
  cursor: pointer;
}

ul.menu li:hover {
  background-color: #aaa;
}

ul.submenu>li {
  background-color: #403F4C;
}

.menu {
  overflow: scroll;
}

ul.menu {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 20%;
  height: 100vh;
  float:left;
  color: #fafafa;
  background-color: #2C2B3C;
}

ul.submenu {
  display: none;
  list-style: none;
  padding: 0;
}

.opt-menu {
  display: block;
  width: 100%;
  position: relative;
}

.right-content-wrapper {
  width: 80%;
  float:right;
}

.selected {
  color: #a7bbd6;
}

a.branding-trigger {
  padding: 0.625em;
  text-decoration: none;
}

a.branding-trigger:hover {
  color: #a7bbd6;
}

/*modifiers*/
.warning_msg {
  font-size: 90%;
  font-style: italic;
  color: #c73e1d;
  display: inline;
}

/*Tables*/
table {
  width: 100%;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.25em;
}

.tbldatadisplay td {
  padding: 0.625em;
}

td.button-set {
  padding: 0;
}

table.tbldetailsdisplay {
  background-color: #e8e8e8;

}

tr.tbl-heading {
  color: #a7bbd6;
  background-color: #eee;
}

/*Buttons*/

.button, button, input[type="button"], input[type="submit"], input[type="reset"] {
  padding: 0.625em 1.25em;
  font-weight: 600;
  margin-right: 0.625em;
  color: #fafafa;
  border:none;
}

.button, button, input[type="button"], input[type="submit"], input[type="reset"] {
background-color: #aaa;
transition: 0.5s ease;
}

button:hover, input[type="button"]:hover,  input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #6b717e;
}

input, textarea {
  padding: 0.3125em;
  outline: none;
  border-style: none;
  border: solid 2px #aaa;
  color: #777;
  outline-color: #777;
}

.form input, .form textarea {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  width: 50%;
  display: block;
}

.form textarea {
  min-height: 100px;
}

.form input[name='btnAddNew']{
  display:inline-block;
}

.form input[name='btnDel']{
  display:inline-block;
}

.form label {
  color: #2C2B3C;
}

.form h3 {
  margin-top: 0;
}

form.form {
  margin: 0 auto;
  /*margin-top: 1.25em;*/
  /*padding: 0.625em 1.25em;*/
}

td.button-set {
  text-align: right;
}

td.button-set input, td.button-set form {
  margin: 0;
}

.form-textarea {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  width: 80%;
  height: 20vh;
  display: block;
}

.form-textarea.large {
  height: 30vh;
}

.button-set button:last-of-type {
  margin-right: 0;
}

.button-set input, .button-set form {
  display: inline-block;
  margin-right: 0.625em;
}

input[type="radio"] {
  display: inline;
  width: auto;
  margin: 0.5em;
}

.form .half-float input[type="text"], .form .half-float textarea, .form .half-float [type="file"], .half-float figure, .half-float p  {
  width: 70%;
}

.quarter-float figure {
  padding: 0;
  margin: 0;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.form .half-float textarea {
}

.form.single-col input, .form.single-col textarea {
  width: 70%;
}

.three4-float {
  width: 60%;
  float: left;
}

.quarter-float {
  width: 40%;
  float: left;
}

.form .three4-float input[type="text"], .form .three4-float textarea, .form .three4-float [type="file"], .three4-float figure, .three4-float p  {
  width: 75%;
}

.news .three4-float input[type="text"], .news .three4-float textarea, .news .three4-float [type="file"], .three4-float figure, .three4-float p  {
  width: 90%;
}

.form .quarter-float input[type="text"], .form .quarter-float textarea, .form .quarter-float [type="file"], .quarter-float p  {
  width: 75%;
}

.quarter-float figure {
  width: 75%;
  height: 30vh;
}

.quarter-float img {
height: 100%;
}

/* Modifiers */
.danger-btn {
  background-color: #c73e1d !important;
}

.danger-btn:hover {
  background-color: #de8348 !important;
}

.proceed-btn {
  background-color: #95bf8f;
}

.proceed-btn:hover {
  background-color: #407538;
}

.wait-btn:hover{
  background-color: #c73e1d !important;
}

.error-bg {
  background-color: #faf2f4;
  border-color: #c73e1d;
  outline-color: #c73e1d;
}

.button-set {
  border-top: solid 1px #eee;
  padding-top: 0.6125em;
  display: block;
}

.hide {
  display: none;
}

.show {
  display: table-row;
}

.accent {
  color: #a7bbd6;
  font-weight: 600;
}

/* IMAGES */

.gallery img{
  vertical-align: top;
}



/* ============================================================================ MODAL STYLING
============================================================================ */

.mw-delete {
  color: #fafafa;
  background-color: #c73e1d;
}

.mw-proceed, .success, .mw-success {
  background-color: #95bf8f;
}

.mw-proceed:hover {
  background-color: #c7e4c3;
}

.mw-confirm {
  color: #fafafa;
  background-color: #a7bbd6;
}

.mw-modal {
  position: absolute;
  z-index: 50000000;
  box-shadow: 5px 5px rgba(153, 153, 153, 0.67);
  color: #333;
}

.mw-modal div, .mw-modal header {
  padding: 0.625em 1.25em;
}

.mw-modal h3 {
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0.5em auto;
}

/* Come back to modal for prompt */
.mw-large {
  left: 25%;
  top: 15%;
  width: 50%;
  background-color: #fafafa;
  min-height:5em;
}

.mw-small {
  right: 1.8em;
  top: 1.25em;
  padding: 0.625em 1.25em;
  opacity: 0;
  color: #fafafa;
}

.mw-small p {
  margin: 0;
}

.mw-modal p {
  margin-bottom: 0;
}

.mw-overlay {
  width: 100%;
  /*top: 0;*/
  left: 0;
  position: absolute;
  background-color: rgba(185, 186, 186, 0.5);
}

.mw-button-set {
  text-align: right;
}

.mw-button-set button:last-of-type {
  margin-right: 0;
}
