@charset "UTF-8";

@import "normalize.min.css";

@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Dosis:400,600';

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  color: #2C2B3C;
  font-size: 100%;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
  text-decoration: none;
}

img {
  min-width: 100%;
}

.clearfix{
  clear: both;
  margin: 0;
  visibility: hidden;
  padding: 0;
}

/*Font styling*/

h1, h2, h3, h4 {
  font-family: Dosis, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-header h1 {
  font-size: 1.43em;
}

.page-header h2 {
  font-size: 1.25em;
}

.tbl-heading td{
  font-family: Dosis;
  font-size: 1.25em;
}

.tbl-subheading td{
  font-family: Dosis;
  font-size: 1.2em;
}

/*container styling*/

#main-content {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
}

.base, .opt-menu {
  padding: 0.625em 1.25em;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: relative;
  color: #fafafa;
  background-color: #403F4C;
}

.branding-container {
  position: absolute;
  bottom: 1.5em;
  right: 1.25em;
}

ul.menu li {
  cursor: pointer;
}

ul.menu li:hover {
  background-color: #aaa;
}

ul.submenu>li {
  background-color: #403F4C;
}

ul.menu {
  position: fixed;
  padding: 0;
  margin: 0;
  width: 20%;
  height: 100vh;
  float:left;
  color: #fafafa;
  background-color: #2C2B3C;
}

ul.submenu {
  display: none;
  list-style: none;
  padding: 0;
}

.opt-menu {
  display: block;
  width: 100%;
}

.right-content-wrapper {
  width: 80%;
  float:right;
}

.selected {
  background-color: #a7bbd6;
}

.separator{
  margin: 0 0.625em;
}

a.branding-trigger {
  padding: 0.625em;
  text-decoration: none;
}

a.branding-trigger:hover {
  color: #a7bbd6;
}

/*modifiers*/
.warning_msg {
  font-size: 90%;
  font-style: italic;
  color: #c73e1dz;
  display: inline;
}

/*Tables*/
table {
  width: 100%;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tbldatadisplay td{
  padding: 0.625em;
}

table.tbldetailsdisplay {
  background-color: #e8e8e8;

}

tr.tbl-heading {
  color: #fafafa;
  background-color: #a7bbd6;
}

/*Buttons*/

.button, button, input[type="button"], input[type="submit"], input[type="reset"] {
  padding: 0.625em 1.25em;
  font-weight: 600;
  margin-right: 0.625em;
  color: #fafafa;
  border:none;
}

.button, button, input[type="button"], input[type="submit"], input[type="reset"] {
background-color: #aaa;
transition: 0.5s ease;
}

button:hover, input[type="button"]:hover,  input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #6b717e;
}

input {
  padding: 0.3125em;
  border: solid 2px #aaa;
  outline-color: #777;
}

.form input {
  margin-top: 0.625em;
  margin-bottom: 1.25em;
  width: 25%;
  display: block;
}

.form input[name='btnAddNew']{
  display:inline-block;
}

form.form {
  margin: 0 auto;
  margin-top: 1.25em;
  padding: 0.625em 1.25em;
}

/* Modifiers */
.danger-btn {
  background-color: #c73e1d !important;
}

.danger-btn:hover {
  background-color: #de8348 !important;
}

.proceed-btn:hover {
  background-color: #95bf8f !important;
}

.wait-btn:hover{
  background-color: #c73e1d !important;
}

.error-bg {
  background-color: #faf2f4;
  border-color: #c73e1d;
  outline-color: #c73e1d;
}

.hide {
  display: none;
}

.show {
  display: table-row;
}



/*MODAL STYLING*/



.success {
  background-color: #95bf8f;
}

.delete {
  background-color: #c73e1d;
  display: none;
}

.mw-normal {
  background-color: #fafafa;
}

.mw-delete {
  color: #fafafa;
  background-color: #c73e1d;
}

.mw-btn-proceed {
  background-color: #95bf8f;
}

.mw-btn-proceed:hover {
  background-color: #c7e4c3;
}

.mw-confirm {
  color: #fafafa;
  background-color: #a7bbd6;
}

.mw-modal {
  position: absolute;
  box-shadow: 5px 5px rgba(153, 153, 153, 0.67);
  color: #333;
}

.mw-modal div, .mw-modal header {
  padding: 0.625em 1.25em;
}

.mw-modal h3 {
  font-size: 2em;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: 0.5em auto;
}

.mw-modal input[type='text'] {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.625em;
}

/* Come back to modal for prompt */
.mw-large {
  left: 25%;
  top: 15%;
  width: 50%;
  min-height:5em;
}

.mw-small {
  right: 1.8em;
  top: 1.25em;
  color: #fafafa;
}

.mw-small p {
  margin: 0;
}

.mw-modal p {
  margin-bottom: 0;
}

.mw-overlay {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(185, 186, 186, 0.5);
}

.mw-button-set {
  text-align: right;
}

.mw-button-set button:last-of-type {
  margin-right: 0;
}
